#add-contact-form {
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  padding: 1rem 0;
}

label {
  display: block;
  margin: 0.5rem 0 0 0;
  float: left;
}

input,
textarea,
select {
  width: 100%;
  min-height: 2em;
  padding: 6px;
  margin-top: 8px;
  outline: none;
  font-family: "Source Sans 3", sans-serif;
  border-radius: 5px;
}

input,
textarea {
  background-color: #c1c1c1;
  border: 1px solid #c1c1c1;
  color: #000;
}

#submit-btn {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #c33329;
  cursor: pointer;
  min-width: 300px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

#submit-btn:hover {
  scale: 1.1;
  background-color: #000;
}

input[type="file"] {
  padding: 1px 2px;
}
