.btn {
  text-decoration: none;
  background-color: #c33329;
  color: #fff;
  display: inline-block;
  border-radius: 100%;
  width: 4.5em;
  height: 4.5em;
  line-height: 4.5em;
  text-align: center;
  font-size: 1.25em;
  font-weight: 400;
  padding: 0;
}

.btn:hover {
  scale: 1.1;
  background-color: #000;
  font-weight: 400;
}
