nav {
  padding: 10px;
}

.navbar,
.brand {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
}

.brand {
  text-decoration: none;
  gap: 1rem;
  margin-left: 16px;
}

.logo {
  width: 4%;
  cursor: pointer;
}

.logo:hover {
  filter: invert(18%) sepia(82%) saturate(4658%) hue-rotate(355deg)
    brightness(109%) contrast(112%);
  scale: 1.1;
  transform: rotate(360deg);
}

.title {
  color: #c33329;
}

hr {
  margin-top: 10px;
}
